.hubble .content:empty:not(:focus)::before {
  content: "(...)";
  opacity: 0.3;
  font-style: italic;
}

.rootContent {
  float: left;
  width: 100%;
  /* white-space: nowrap; */
}

.rootContent > details > summary {
  list-style: none;
}

.rootContent > details > summary::-webkit-details-marker {
  display: none;
}

.rootContent .content {
  font-size: 30px;
  /* line-height: 55px; */
  font-family: "Rasa", serif;
  display: inline-block;
  white-space: normal;
  line-height: 1.5em;
}

.rootContent .buttons {
  vertical-align: top;
  display: inline-block;
  /* margin-top: 20px; */
}

.root > .children {
  display: inline-block;
}

.rootContent > .hubblelink {
  display: none;
}

.specialHubble {
  display: none;
}


input.doneToggle {
  display: none;
}

label.doneToggleLabel span.description {
  display: none;
}

label.doneToggleLabel .icon::before {
  content: "\2022";
  color: #a22;
  font-size: 20pt;
}

label.doneToggleLabel .icon {
  opacity: 0;
}

input.doneToggle:checked + .icon {
  opacity: 1;
}

input.doneToggle + .icon:hover {
  opacity: 0.5;
}

.doneToggle:checked + label {
  content: "&#8226;";
}

.snoozeToggle:after {
  content: "snooze";
}

.hideInactive .children .hubble[data-active="false"] {
  display: none !important;
}


.hubblelink .icon {
  /* -webkit-appearance: none; */
  font-size: 10pt;
  /* margin: 0; */
  /* display: inline; */
  color: #ccc;
  vertical-align: top;
}

.hubblelink .icon {
  opacity: 0;
  visibility: hidden;
}

.hubble:hover > .hubblelink > .icon {
  opacity: 1;
  visibility: visible;
}

.hubblelink .description {
  display: none;
}

.children .hubble {
  white-space: nowrap;
  /* line-height: 1.7; */
  /* position: relative; */
  /* margin-top: 5px; */
}

.children .content {
  display: inline-block;
  white-space: normal;
  vertical-align: text-top;
  max-width: 600px;
  font-family: var(--content-font);
  font-size: 18pt;
}

.childcountinfo {
  display: none;
}


.buttons {
  display: inline;
  opacity: 0;
  /* visibility: hidden; */
  /* border-radius: 4px; */
  background: var(--bg-color);
  padding: 0px;
  margin: 0;
}

.buttons:hover {
  opacity: 1;
}

.buttons .newhubble_link {
  display: none;
}

.root > .content {
  display: block;
}

.showline .hubble li {
  border-left: 1px solid;
}


.hubbleCardView .specialHubble {
  display: initial;
}

.hubbleCardView #cardviewSwitch::before {
  content: "list";
}

.hubbleCardView .children {
  display: flex;
  flex-wrap: wrap;
}

.hubbleCardView .children .hubble {
  --hubble-content-is-link: true;
  /* white-space: normal; */
  /* vertical-align: top; */
  border-width: 1px;
  border-color: var(--text-color);
  border-style: solid;
  border-radius: 9px;
  margin: calc(5px + 2%);
  padding: 1em;
  /* position: relative; */
  display: flex;
  flex-flow: row wrap;
  flex: 20%;
  min-height: 5vh;
}

.hubbleCardView .children .hubble.specialHubble {
  flex: 5%;
}

.hubbleCardView .children .hubble[data-active] {
  border-color: #a22;
}

.hubbleCardView .children .doneToggleLabel {
  order: -2;
}

.hubbleCardView .children .doneToggleLabel {
  position: absolute;
  left: 5px;
  top: 8px;
  line-height: 5px;
}

.hubbleCardView .children .content {
  order: -1;
  /* vertical-align: inherit; */
  /* font-family: var(--UI-font); */
}

.hubbleCardView .children .content:hover {
  cursor: pointer;
}

.hubbleCardView .children .content:focus {
  font-size: 30px;
  line-height: 55px;
  font-family: var(--content-font);
  display: inline-block;
  white-space: normal;
  background-color: var(--bg-color);
}

.hubbleCardView .children .hubble:hover .childcountinfo {
  opacity: 0.5;
  visibility: visible;
}

.hubbleCardView .children .childcountinfo {
  opacity: 0;
  transition: opacity 0.5s;
  visibility: hidden;
  font-size: x-small;
}

.hubbleCardView #expandAllButton,
.hubbleCardView #bulletSwitch {
  display: none;
}

.hubbleCardView [contenteditable]:focus {
  outline: none;
}

.hubbleCardView .buttons {
  position: absolute;
  top: -20px;
  left: 10px;
}

.hubbleCardView .hubblelink .icon {
  display: none;
}

.hubbleCardView .children .hubblelink .description {
  display: inline;
}

.hubbleCardView .children details {
  display: none;
}

.hubbleCardView .specialHubble {
  display: initial;
  font-size: 18pt;
}

.hubbleCardView .specialHubble {
  display: initial;
}

.hubbleCardView #cardviewSwitch::before {
  content: "list";
}

.hubbleCardView .children {
  display: flex;
  flex-wrap: wrap;
}

.hubbleCardView .children .hubble {
  --hubble-content-is-link: true;
  /* white-space: normal; */
  /* vertical-align: top; */
  border-width: 1px;
  border-color: var(--text-color);
  border-style: solid;
  border-radius: 9px;
  margin: calc(5px + 2%);
  padding: 1em;
  /* position: relative; */
  display: flex;
  flex-flow: row wrap;
  flex: 20%;
  min-height: 5vh;
}

.hubbleCardView .children .hubble.specialHubble {
  flex: 5%;
}

.hubbleCardView .children .hubble[data-active] {
  border-color: #a22;
}

.hubbleCardView .children .doneToggleLabel {
  order: -2;
}

.hubbleCardView .children .doneToggleLabel {
  position: absolute;
  left: 5px;
  top: 8px;
  line-height: 5px;
}

.hubbleCardView .children .content {
  order: -1;
  /* vertical-align: inherit; */
  /* font-family: var(--UI-font); */
}

.hubbleCardView .children .content:hover {
  cursor: pointer;
}

.hubbleCardView .children .content:focus {
  font-size: 30px;
  line-height: 55px;
  font-family: var(--content-font);
  display: inline-block;
  white-space: normal;
  background-color: var(--bg-color);
}

.hubbleCardView .children .hubble:hover .childcountinfo {
  opacity: 0.5;
  visibility: visible;
}

.hubbleCardView .children .childcountinfo {
  opacity: 0;
  transition: opacity 0.5s;
  visibility: hidden;
  font-size: x-small;
}

.hubbleCardView #expandAllButton,
.hubbleCardView #bulletSwitch {
  display: none;
}

.hubbleCardView [contenteditable]:focus {
  outline: none;
}

.hubbleCardView .buttons {
  position: absolute;
  top: -20px;
  left: 10px;
}

.hubbleCardView .hubblelink .icon {
  display: none;
}

.hubbleCardView .children .hubblelink .description {
  display: inline;
}

.hubbleCardView .children details {
  display: none;
}

.hubbleCardView .specialHubble {
  display: initial;
  font-size: 18pt;
}

.dropTarget {
  min-height: 5px;
  min-width: 5px;
  border-radius: 2px;
}

.dragOver {
  min-height: 30px;
  min-width: 30px;
  border-style: dashed !important;
  border-width: 2px !important;
  border-color: #aaa;
}

.turnedOffUntilActivityWorks .children .hubble[data-active="false"] .content {
  color: #888;
}
