                @import url('https://fonts.googleapis.com/css?family=Crimson+Text|Inconsolata|Khula|Lato|Montserrat|Nunito|Open+Sans:400,600|Oxygen|PT+Serif|Raleway:400,500|Rasa|Source+Sans+Pro|Open+Sans|Raleway');
                
                a {
                    color: inherit;
                    text-decoration: inherit;
                }
                
                body {
                    font-family: 'Roboto';
                    margin: 0;
                }

                body.nightMode {
                    background: #000;
                    color: #fff;
                }                
                
                header {
                    align-items: center;
                    justify-content: center;
                    flex-flow: row nowrap;
                }
                
                header>section {
                    opacity: 0;
                    transition: opacity .5s;
                }
                
                header:hover>section {
                    opacity: 1;
                }

                button {
                    background: inherit;
                    border-style: solid;
                    border-radius: 5px;
                    color: #ccc;

                }

                #signoutbutton {
                    font-family: "Material Icons";
                    font-size: 18pt;
                    font-weight: 400;
                    visibility: hidden;
                }
                #signoutbutton:before {
                    content: "account_circle";
                    visibility: visible;
                }

                #viewMenu {
                    position: fixed;
                    left: 25px;
                    top: 100px;
                    list-style: none;
                }

                #viewMenu ul {
                    padding: 0;
                    list-style: none;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity 0.5s;
                }

                #viewMenu:hover ul {
                    visibility: visible;
                    opacity: 1;
                }
                
                #viewMenu li {
                    padding: 5px;
                }

                #viewMenu input {
                    display: none;
                }

                /* Replace labels of switches with nice material icons */

                #viewMenu label {
                    visibility: hidden;
                }

                #viewMenu label::before {
                    font-family: "Material Icons";
                    font-size: 18pt;
                    font-weight: 400;
                    color: #ccc;
                    visibility: visible;
                }

                #lightSwitch + label::before {
                    content: "lightbulb_outline";
                }

                #bulletSwitch + label::before {
                    content: "chevron_right";
                }

                #fullscreenSwitch + label::before {
                    content: "fullscreen";
                }

                #fullscreenSwitch:checked + label::before {
                    content: "fullscreen_exit";
                }

                #inactiveVisibleSwitch + label::before {
                    content: "visibility";
                }

                #inactiveVisibleSwitch:checked + label::before {
                    content: "visibility_off";
                }

                #cardviewSwitch + label::before {
                    content: "view_module";
                }
                #cardviewSwitch:checked + label::before {
                    content: "list";
                }
                
                .app-main {
                    -webkit-flex-shrink: 0;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                }
                
                .app-header .mdl-layout__header-row {
                    padding-left: 40px;
                }
                
                .app-container {
                    max-width: 800px;
                    width: calc(100% - 30px);
                    margin: 0 auto;
                    height: 100%;
                }
                
                .app-layout.is-small-screen .app-content {
                    padding: 40px 28px;
                }
                
                [contenteditable] {
                    padding: 2px;
                    outline-width: 1px;
                    outline-color: transparent;
                    outline-style: solid;
                    transition: border-color 1s ease;
                }
                
                [contenteditable]:focus {
                    outline-color: #ccc;
                }
                
                input:focus {
                    outline: none;
                }
                .hubbleListView .newhubble_link, .hubbleListView .hubblelink {
                    font-family: "Material Icons";
                    font-size: 14pt;
                    font-weight: 400;
                    margin: 0;
                    color: inherit;
                    display: inline;
                    
                }
                .doneToggle,
                .snoozeToggle {
                    -webkit-appearance: none;
                    font-family: "Material Icons";
                    font-size: 14pt;
                    font-weight: 400;
                    margin: 0;
                    color: inherit;
                    display: inline;
                }
                                
                .doneToggle:after {
                    content: "done";
                    color: #ccc;
                }
                
                .doneToggle:checked:after {
                    color: inherit;
                }
                
                .snoozeToggle:after {
                    content: "snooze";
                    color: #ccc;
                }

                .collapseToggle {
                    -webkit-appearance: none;
                    font-family: "Material Icons";
                    font-size: 14pt;
                    margin: 0;
                    display: inline;
                    color: #ccc;
                    font-weight: bold;
                    vertical-align: top;
                }
                
                .noBulletView .collapseToggle {
                    visibility: hidden;
                }

                .collapseToggle:after {
                    content: "expand_more"; 
                    vertical-align: top;
                }

                .hubble[data-active-children="0"] .collapseToggle:after {
                    content: "chevron_right";
                    font-weight: initial;
                }
                
                .collapseToggle:checked:after {
                    content: "chevron_right";
                }
                
                .content {
                    display: block;
                }
                /* Todo: apparently this makes selection impossible for all elements
                 * that contain button elements (i.e. all elements)
                
                .buttons {
                    -ms-user-select: none;
                    -moz-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                }
                 */
                                
                .children .hubble[data-active=false] {
                    opacity: 0.5;
                }

                .hideInactive .children .hubble[data-active=false] {
                    display: none !important;
                }
                
                .hubble.collapsed .children {
                    display: none;
                }

                .hubbleCardView div.content {
                    font-size: 36px;
                    line-height: 55px;
                    font-family: 'Rasa', serif;
                }
                
                .hubbleCardView .main-hubble-card {
                    width: 800px;
                    margin: 30px;
                }
                
                .hubbleCardView .hubble_content_container {
                    align-items: center;
                    justify-content: center;
                    flex-flow: row nowrap;
                    display: flex;
                }
                
                .hubbleCardView .children {
                    max-width: 700px;
                }
                
                .hubbleCardView .children .hubble {
                    max-width: 200px;
                    border-width: 1px;
                    border-color: #ddd;
                    border-style: solid;
                    margin: 10px;
                    padding: 10px;
                    display: inline-block;
                    border-radius: 4px;
                }
                
                .hubbleCardView .special-children {
                    display: inline-block;
                    vertical-align: top;
                }
                
                .hubbleCardView .special-children .hubble {
                    display: block;
                }
                
                .hubbleCardView .children .special-child {
                    width: 80px;
                    text-align: center;
                }
                
                .hubbleCardView .buttons {
                    opacity: 0;
                    visibility: hidden;
                    transition: opacity .5s;
                }
                
                .hubbleCardView .hubble:hover .buttons {
                    opacity: 1;
                    visibility: visible;
                }

                .hubbleCardView .hubble_content_container:hover .buttons {
                    opacity: 1;
                    visibility: visible;
                }
                
                .hubbleCardView .children .childcountinfo {
                    opacity: 0;
                    transition: opacity .5s;
                    visibility: hidden;
                    font-size: small;
                }
                
                .hubbleCardView .children .hubble:hover .childcountinfo {
                    opacity: 0.5;
                    visibility: visible;
                }

                .hubbleCardView .children .children {
                    display: none;
                }
                
                .hubbleListView .hubble {
                    line-height: 1.5;
                    max-width: 700px;
                    text-align: justify;
                }

                .hubbleListView .buttons {
                    color: #ccc;
                    display: inline-block;
                }
                
                .hubbleListView li {
                    white-space: nowrap;
                }

                .hubbleListView .buttons * {
                    transition: opacity .5s;
                    opacity: 0;
                    visibility: hidden;
                }
                
                .hubbleListView .buttons:hover * {
                    opacity: 1;
                    visibility: visible;
                }

                .hubbleListView ul {
                    list-style: none;
                }

                .hubbleListView.root>.content {
                    font-size: 30px;
                    line-height: 55px;
                    font-family: 'Rasa', serif;   
                }

                .hubbleListView .content {
                    display: inline-block;
                    white-space: normal;
                    vertical-align: top;
                }

                .hubbleListView .parentlink {
                    color: #ddd;
                }