                @import url('https://fonts.googleapis.com/css?family=Crimson+Text|Inconsolata|Khula|Lato|Montserrat|Nunito|Open+Sans:400,600|Oxygen|PT+Serif|Raleway:400,500|Rasa|Source+Sans+Pro|Open+Sans|Raleway');

                a {
                    color: inherit;
                    text-decoration: inherit;
                }
                
                body {
                    font-family: 'Roboto'
                }
                
                header {
                    align-items: center;
                    justify-content: center;
                    flex-flow: row nowrap;
                }
                
                header>section {
                    opacity: 0;
                    transition: opacity .5s;
                }
                
                header:hover>section {
                    opacity: 1;
                }
                                
                .app-main {
                    -webkit-flex-shrink: 0;
                    -ms-flex-negative: 0;
                    flex-shrink: 0;
                }
                
                .app-header .mdl-layout__header-row {
                    padding-left: 40px;
                }
                
                .app-container {
                    max-width: 1000px;
                    width: calc(100% - 16px);
                    margin: 0 auto;
                }
                
                .app-layout.is-small-screen .app-content {
                    padding: 40px 28px;
                }
                
                .hubbleCardView .children .hubble[data-active=false] {
                    opacity: 0.5;
                }
                
                .hubbleCardView div.content {
                    font-size: 40px;
                    text-align: justify;
                    line-height: 55px;
                    font-family: 'Rasa', serif;
                }
                
                .hubbleCardView .main-hubble-card {
                    width: 800px;
                    margin: 30px;
                }
                
                .hubbleCardView .hubble_content_container {
                    align-items: center;
                    justify-content: center;
                    flex-flow: row nowrap;
                    display: flex;
                }
                
                .hubbleCardView .children {
                    max-width: 700px;
                }
                
                .hubbleCardView .children .hubble {
                    max-width: 200px;
                    border-width: 1px;
                    border-color: #ddd; 
                    border-style: solid; 
                    margin: 10px;
                    padding: 10px;
                    display: inline-block;
                    border-radius: 4px;
                }

                .hubbleCardView .special-children {
                    display: inline-block;
                    vertical-align: top;
                }

                .hubbleCardView .special-children .hubble {
                    display: block;
                }
                
                .hubbleCardView .children .special-child {
                    width: 80px;
                    text-align: center;
                }
                
                .hubbleCardView .buttons {
                    opacity: 0;
                    transition: opacity .5s;
                }
                
                .hubbleCardView .hubble:hover .buttons {
                    opacity: 1;
                }
                
                .hubbleCardView .children .childcountinfo {
                    opacity: 0;
                    transition: opacity .5s;
                    font-size: small;
                }
                
                .hubbleCardView .children .hubble:hover .childcountinfo {
                    opacity: 0.5;
                    
                }
                
                .hubbleListView .buttons {
                    opacity: 0;
                    transition: opacity .5s;
                    position: absolute;
                    left: 10px;
                    background: #fff;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    color: #555;
                }
                
                .hubbleListView .buttons:hover {
                    opacity: 1;
                }
                
                .hubbleDocumentView .hubble {
                    padding-left: 15px;
                    max-width: 700px;
                }
                
                .hubbleDocumentView .buttons {
                    opacity: 0;
                    transition: opacity .5s;
                    position: absolute;
                    left: 10px;
                    background: #fff;
                    border: 1px solid #ddd;
                    border-radius: 5px;
                    color: #555;
                }
                
                .hubbleDocumentView .buttons:hover {
                    opacity: 1;
                }
                
                .hubbleDocumentView .hubble {
                    font-weight: bold;
                }
                
                .hubbleDocumentView .hubble[data-active-children="0"] {
                    font-weight: initial;
                }
                
                .hubbleDocumentView .hubble[data-active=false] {
                    display: none;
                }
                
                [contenteditable] {
                    padding: 5px;
                    outline-width: 1px;
                    outline-color: transparent;
                    outline-style: solid;
                    transition: border-color 1s ease;
                }
                
                [contenteditable]:focus {
                    outline-color: #ccc;
                }

                input:focus {
                    outline: none;
                }

                .doneToggle, .snoozeToggle {
                    -webkit-appearance: none;
                    font-family: "Material Icons";
                    font-size: 18pt;
                    font-weight: 400;
                    color: #ccc;
                }
                .doneToggle:after {
                    content: "done";
                    border-radius:15px;
                    padding: 1px;
                }
                .doneToggle:checked:after {
                    background-color: #000;
                    border-radius: 100%;
                }
                .snoozeToggle:after {
                    content: "snooze";
                    border-radius: 100%;
                    padding: 1px;
                }
                .snoozeToggle:checked:after {
                    background-color: #000;
                }